{% load wagtailcore_tags wagtailimages_tags %}

<div class="container-fluid">
    <div class="row">
    {% for story in self %}
      <div class="col-xs-6 col-sm-3 well">
        <a class="" href="{{ story.url }}">
            {% image story.feed_image width-200 as img %}
            <img src="{{ img.url }}" alt="{{ img.alt }}" />
        </a>
        <div class="caption">
            <h4><a href="{{ story.url }}">{{ story.title }}</a></h4>
            <p>{{ story.intro }}</p>
        </div>
      </div>
    {% endfor %}
    </div>
</div>
