{% load wagtailimages_tags %}

<div class="alert-warning">
    <div class="container alert-warning">
        <div class="row">
            <div class="table-responsive">
                <table class="table" style="margin-bottom: 0;">
                    <tbody>
                        <tr>
                            <td style="border: 0;"><h3>As seen in</h3></td>
                            {% for referral_link in self %}
                            <td style="border: 0;">
                                {% image referral_link.thumbnail height-58 as img %}
                                <a href="{{ referral_link.url }}" target="_blank">
                                    <img src="{{ img.url }}" alt="{{ img.alt }}" />
                                </a>
                            </td>
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
